<% layout('layouts/boilerplate') %>

<div class="container">
    <h1>Workout Posts</h1>
    <% if (workoutPosts.length > 0) { %>
        <div class="row">
            <% workoutPosts.forEach(workout => { %>
                <div class="col-md-4 mb-4">
                    <div class="card h-100">
                        <div class="card-body">
                            <h5 class="card-title">
                                <a href="/workoutPosts/<%= workout._id %>"><%= workout.title %></a>
                            </h5>
                            <p class="card-text"><%= workout.description %></p>
                            <p><strong>Total Duration:</strong> <%= workout.totalDuration %> minutes</p>
                            <p><strong>Calories Burned:</strong> <%= workout.caloriesBurned %></p>
                            <p><strong>Tags:</strong> <%= workout.tags.join(", ") %></p>
                        </div>
                    </div>
                </div>
            <% }) %>
        </div>
    <% } else { %>
        <p>No workout posts found.</p>
    <% } %>
</div>
