<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= workoutPost.title %></h5>
                <p class="card-text"><%= workoutPost.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Total Duration:</strong> <%= workoutPost.totalDuration %> minutes</li>
                <li class="list-group-item"><strong>Calories Burned:</strong> <%= workoutPost.caloriesBurned %></li>
                <li class="list-group-item"><strong>Tags:</strong> <%= workoutPost.tags.join(", ") %></li>
            </ul>
            <% if (workoutPost.exercises.length > 0) { %>
                <div class="card-body">
                    <h5>Exercises</h5>
                    <ul>
                        <% workoutPost.exercises.forEach(exercise => { %>
                            <li>
                                <p><strong>Exercise:</strong> <%= exercise.name %></p>
                                <p><strong>Sets:</strong> <%= exercise.sets || "N/A" %></p>
                                <p><strong>Reps:</strong> <%= exercise.reps || "N/A" %></p>
                                <p><strong>Duration:</strong> <%= exercise.duration || "N/A" %> minutes</p>
                                <p><strong>Weight:</strong> <%= exercise.weight || "N/A" %> kg</p>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/workoutPosts/<%= workoutPost._id %>/edit">Edit</a>
                <form class="d-inline" action="/workoutPosts/<%= workoutPost._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
