<% layout('layouts/boilerplate') %>

<div class="row">
    <div class="col-6 offset-3">
        <div class="card mb-3">
            <div class="card-body">
                <h5 class="card-title"><%= generalPost.title %></h5>
                <p class="card-text"><%= generalPost.description %></p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><strong>Tags:</strong> <%= generalPost.tags.join(", ") %></li>
                <li class="list-group-item"><strong>Privacy:</strong> <%= generalPost.privacy %></li>
            </ul>
            <% if (generalPost.media.length > 0) { %>
                <div class="card-body">
                    <h5>Media</h5>
                    <ul>
                        <% generalPost.media.forEach(media => { %>
                            <li>
                                <p><strong>Type:</strong> <%= media.type %></p>
                                <a href="<%= media.url %>" target="_blank">View Media</a>
                            </li>
                        <% }) %>
                    </ul>
                </div>
            <% } %>
            <div class="card-body">
                <a class="card-link btn btn-info" href="/generalPosts/<%= generalPost._id %>/edit">Edit</a>
                <form class="d-inline" action="/generalPosts/<%= generalPost._id %>?_method=DELETE" method="POST">
                    <button class="btn btn-danger">Delete</button>
                </form>
            </div>
        </div>
    </div>
</div>
